accelerate==1.2.0
backoff==2.2.1
click==8.1.7
colorama==0.4.6
datasets==3.2.0
openai==1.57.2
overrides==7.7.0
rank-bm25==0.2.2
sentence-transformers==3.3.1
torch==2.5.1
torchtyping==0.1.5
transformers==4.47.0
vllm==0.6.5
wandb==0.19.1
